<div class="row">
    <div class="col-md-6">
        <h2>No Account? Sign Up:</h2>

        <form class="form signup-info">
            <div class="forms">
                <label for="new-username">UserName:</label>
                <input class="form-input" type="text" id="new-username" />
            </div>
            <div class="forms">
                <label for="new-email">Email Address:</label>
                <input class="form-input" type="text" id="new-email" />
            </div>
            <div class="forms">
                <label for="new-password">Password:</label>
                <input class="form-input" type="password" id="new-password" />
            </div>
            <div class="forms">
                <button class="btn btn-primary" type="submit">Create Account</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Log In to your Account:</h2>
        
        <form class="form login-info">
            <div class="forms">
                <label for="username">UserName:</label>
                <input class="form-input" type="text" id="username" />
            </div>
            <div class="forms">
                <label for="password">Password:</label>
                <input class="form-input" type="password" id="password" />
            </div>
            <div class="forms">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

<script src="/public/js/login.js"></script>