<div class="signup-login-page">
    <div class="sign-up">
        <h2>No Account? Sign Up:</h2>

        <form class="form signup-info">
            <div class="forms">
                <label for="new-username">UserName:</label>
                <input class="form-input" type="text" id="new-username" placeholder="Max 25 Characters" />
            </div>
            <div class="forms">
                <label for="new-email">Email Address:</label>
                <input class="form-input" type="text" id="new-email" />
            </div>
            <div class="forms">
                <label for="new-password">Password:</label>
                <input class="form-input" type="password" id="new-password" placeholder="Min 8 Characters" />
            </div>
            <div class="forms">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>

    <div class="log-in">
        <h2>Log In to your Account:</h2>
        
        <form class="form login-info">
            <div class="forms">
                <label for="username">UserName:</label>
                <input class="form-input" type="text" id="username" />
            </div>
            <div class="forms">
                <label for="password">Password:</label>
                <input class="form-input" type="password" id="password" />
            </div>
            <div class="forms">
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>