<div class="col-md-10">
        <h3>Update Post:</h3>

        <form class="form update-post-button">
            <div class="forms">
                <label for="post-title">Title:</label>
                <input class="form-input" type="text" value="{{blogpost.post_title}}" id="post-title" name="post-title" />
            </div>
            <div class="forms">
                <label for="post-content">Content:</label>
                <textarea class="form-input"  id="post-content" name="post-content">{{blogpost.post_content}}</textarea>
            </div>
            <div class="forms">
                <button type="submit" class="btn btn-primary" id="update-post-button" data-id="{{blogpost.id}}">Update!</button>
            </div>
        </form>
    </div>

    <script src="/js/updatePost.js"></script>