:root {
    --tech-white: #ffffff;
    --tech-black: #222222;
    --tech-green: #04b121ea;
    --tech-purple: #a10f8d;
    --tech-red: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
  }
  
body {
    min-height: 100%;
    line-height: normal;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 100%;
    background-color: var(--tech-black);
    color: var(--tech-green);
}

a {
    color: var(--tech-purple);
    border-radius: 10%;
    height: 1%;
  }
  
a:visited {
    color: var(--tech-green);
}

a:hover {
    color: var(--tech-purple);
    background-color: var(--tech-white);
}

a:active {
    color: var(--tech-green);
}

button {
    margin: 1%;
    padding: 1%;
    font-size: 125%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--tech-white);
    background-color: var(--tech-purple);
    border-color: var(--tech-white);
    border-style: solid;
    border-radius: 10%;
  }

button:hover {
    background-color: var(--tech-green);
}

button:active {
    background-color: var(--tech-white);
    color: var(--tech-green);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 0.5%;
    padding: 1%;
    border-style: solid;
    border-color: var(--tech-green);
}

h1 {
    width: 50%;
    font-size: 250%;
    margin: 0.25%;
    padding: 0.25%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin: 0.5%;
    padding: 1.5%;
    font-size: 150%;
}

.logged-in {
    width: 50%;
    font-size: 125%;
    color: var(--tech-purple);
}

#header-user {
    font-size: 200%;
    color: var(--tech-white);
}

nav a {
    padding: 1%;
}

#logout-button {
    font-size: 75%;
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    width: 140%;
    margin: 1%;
    padding: 1%;
    border-style: solid;
    border-radius: 10%;
    border-color: var(--tech-purple);
}

h2 {
    margin: 0.1%;
    padding: 0.1%;
    font-size: 300%;
    color: var(--tech-white);
}

.timestamp {
    color: var(--tech-purple);
    font-size: 125%;
}

#post-user {
    color: var(--tech-white);
    font-size: 150%;
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1%;
    padding: 0.1%;
    border-style: solid;
    border-radius: 5%;
    border-color: var(--tech-white);
    overflow: hidden;
}

.signup-login-page {
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    color: var(--tech-purple);
    font-size: 125%;
}

.sign-up {
    width: 45%;
    margin: 1%;
    padding: 1%;
}

.log-in {
    width: 45%;
    margin: 1%;
    padding: 1%;
}

.dashboard {
    width: 140%;
    margin: 1%;
    padding: 1%;
}

#dashboard-header {
    font-size: 125%;
    text-align: center;
    text-decoration: underline;
}

#dashboard-span {
    color: var(--tech-green);
}

.dashboard-blogposts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 1%;
    padding: 1%;
}

.new-blogpost, .blogpost-list {
    width: 45%;
    margin: 1%;
    padding: 1%;
    
}

h3 {
    font-size: 250%;
}
.new-blogpost-form {
    font-size: 150%;
    color: var(--tech-purple);
}

textarea {
    height: 250px;
}

#new-post-button {
    background-color: var(--tech-green);
}

#new-post-button:hover {
    background-color: var(--tech-purple);
}

.previous-posts {
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 115%;
    color: var(--tech-purple);
    margin: 1%;
    padding: 1%;
    border-style: solid;
    border-color: var(--tech-purple);
}

#blogpost-list-names {
  
}

h4 {
    font-size: 275%;
}

#delete-post-button {
    background-color: var(--tech-white);
    color: var(--tech-red);
    border-style: solid;
    border-color: var(--tech-red);
}

#delete-post-button:hover {
    background-color: var(--tech-red);
    color: var(--tech-white);
    border-style: solid;
    border-color: var(--tech-white);
}
